body{
    scroll-behavior: smooth;
    overflow-x: hidden;
}


.navbarbtn:hover{
    background: #47b2e4;
    transition: ease-in-out .5s;
    color: #fff;
}
.scroll{
    background-color: rgba(40, 58, 90, 0.9);
    transition: ease-in .5s;
}
.scroll_none{
    background: transparent;
    transition: ease-out .5s; 
}
.image-animation{
    animation: image-animation infinite linear 4s;
}
.abouts_hedding{
    position: relative;
}
.abouts_hedding::after{
    position: absolute;
    content: '';
    width: 100px;
    height: 3px;
    background: #47b2e4;
    bottom: 0;
    left: 50px;
    border-radius: 3px;
}
.learnmorebtn{
    color: #47b2e4;
}
.learnmorebtn:hover{
    background: #47b2e4;
    transition: ease-in-out .5s;
    color: #fff;
}
.service_hedding{
    position: relative;
}
.service_hedding::after{
    position: absolute;
    content: '';
    width: 100px;
    height: 3px;
    background: #47b2e4;
    bottom: 0;
    left: 20px;
    border-radius: 3px;
}

p{
    margin-bottom: 0;
}
.building_scroll {
    background-attachment: scroll;
    background: linear-gradient(rgba(40, 58, 90, 0.9), rgba(40, 58, 90, 0.9)), url(./images/cta-bg.jpg) fixed center;
    background-size: cover;
    padding: 120px 0;
}
.callbtn{
    border-radius: 35px;
    outline: 2px solid #fff;
    color: #fff;
}
.callbtn:hover{
    background: #47b2e4;
    outline: none;
    transition: ease .5s;
}
.contact_hedding{
    position: relative;
}
.contact_hedding::after{
    position: absolute;
    content: '';
    width: 100px;
    height: 3px;
    background: #47b2e4;
    bottom: 0;
    left: 40px;
    border-radius: 3px;
}
.location_icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #72c6ec5b;
    list-style: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #0bacf7;
}
.location_icon:hover{
    background-color: #47b2e4;
    cursor: pointer;
    color: #fff;
}
.footer{
    background-color: #f3f5fa;
}
@keyframes image-animation {
    0%{
        margin-top: 0px;
    }
    50%{
        margin-top: 20px;
    }
    100%{
        margin-top: 0px;
    }
}
.herosection{
    height: 600px;
}
.portfolio_hedding{
    position: relative;
}
.portfolio_hedding::after{
    position: absolute;
    content: '';
    width: 120px;
    height: 3px;
    background: #47b2e4;
    bottom: 0;
    left: 45px;
    border-radius: 3px;
}
/* =============================start The BackToTopBtn styleing===================================== */
.back-to-top{
    width: 50px;
    height: 50px;
    background-color: #47b2e4;
    border: none;
    outline: none;
    border-radius: 50%;
    font-weight: 900;
    font-size: 25px;
    animation: backtoTop infinite 2s;
    margin-top: 50px;
    position: fixed;
    right: 10px;
    bottom: 50px;
    z-index: 999;
    color: #ffff;
}
@keyframes backtoTop {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(0.8);
    }
    100%{
        transform: scale(1);
    }
}
/* =============================End The BackToTopBtn styleing===================================== */


@media (max-width:576px) {
    .herosection{
        height: 800px;
        background-color: red;
    }
    .abouts_hedding::after{
        left: 28px;
    }
    .service_hedding::after{
        width: 60px;
        left: 20px;
        border-radius: 3px;
    }
    .colormediaqurey{
        background-color: #000000;
    }
}
@media(min-width:576.55px) and (max-width:768px) {
    .herosection{
        height: 450px;
        background-color: red;
    }
    .abouts_hedding::after{
        left: 34px;
    }
    .service_hedding::after{
        width: 80px;
        left: 20px;
        border-radius: 3px;
    }
    .colormediaqurey{
        background-color: #000000;
    }
}
.activeNavbar{
    border-bottom: 2px solid rgb(255, 255, 255);
    scroll-behavior: smooth;
    behavior: smooth;
    -ms-behavior: smooth;
}